@import './partials/_resets';
@import './partials/_cores';
@import './partials/_components';

body {
    background-color: $verde;
    .main{
        display: flex;
        flex-direction: row;
        flex-basis: 0;
        flex-grow: 1;
        gap: 60px;
        justify-content: center;
        padding: 140px;
        padding-left: 300px;
        padding-right: 300px;
        .cardFind{
            box-sizing: border-box;
            @include mixinCard;
            h1{
                @include mixinTitulo;
            }
            #listaDadosFind{
                @include mixinCamposEntradas;
                @include mixinFormatoCampos;
            }
            #dadoFind{
                @include mixinCamposEntradas;
                @include mixinFormatoCampos;
            }
            #listaDadosFind::placeholder{
                color: $cinza-claro;
            }
            #dadoFind::placeholder{
                color: $cinza-claro;
            }
            #findButton{
                @include mixinButton;
                @include mixinFormatoCampos;
            }
            #resultFind{
                @include mixinResult;
                @include mixinFormatoCampos;
            }
        }
        .cardFilter{
            box-sizing: border-box;

            @include mixinCard;
            h1{
                @include mixinTitulo;
            }
            #listaDadosFilter{
                @include mixinCamposEntradas;
                @include mixinFormatoCampos;
            }
            #dadoFilter{
                @include mixinCamposEntradas;
                @include mixinFormatoCampos;
            }
            #listaDadosFilter::placeholder{
                color: $cinza-claro;
            }
            #dadoFilter::placeholder{
                color: $cinza-claro;
            }
            #filterButton{
                @include mixinButton;
                @include mixinFormatoCampos;
            }
            #resultFilter{
                @include mixinResult;
                @include mixinFormatoCampos;
            }
        }
    }
}
